@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

$gray-bg-1: #e3e3e3;
$gray-bg-2: #efefef;
$font-main:'Raleway', sans-serif;
$font-heading: 'Rubik', sans-serif;
$font-category: 'Bellota Text', cursive;
$main-clr: #CA0000;
