@import './var';

header {
  width: 100%;
  background-color: $gray-bg-2;
  padding: 20px 10px 10px 10px;
  span {
    display: inline-block;
  }
  @include respond-to('x-small') {
    padding: 10px;
  }
}
.header_content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  @include respond-to('x-small') {
    gap: 5px;
  }
}
.logo {
  margin-right: auto;
  color: $main-clr;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  span {
    color: #000;
  }
  @include respond-to('x-small') {
    font-size: 1rem;
  }
}
.widget {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 7px;
  justify-content: space-between;
  font-family: $font-category;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: $second-clr;
  cursor: pointer;
  .city {
    font-size: 13px;
    @include respond-to('x-small') {
      display: none;
    }
  }
  .currency_symbol {
    opacity: 0.75;
  }
  img {
    max-width: 25px;
    @include respond-to('x-small') {
     max-width: 20px;
    }
  }
  @include respond-to('x-small') {
   font-size: 12px;
  }
}


