@import './var';

.main-page {
  padding: 10px;
  max-width: 1200px;
  margin: auto;
  .container {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-items: stretch;
    width: 100%;
  }
  .btn_container {
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }
  .latest {
    border: 6px solid $gray-border;
    background-color: #fff;
    padding: 20px 40px;
    justify-content: center;
    gap: 0;
    a {
      border-bottom: 1px solid $gray-border;
      width: 50%;
      &:hover, &:active {
        span {
          color: $main-clr;
        }
        p {
          color: $main-clr;
        }
        
      }
      &:nth-child(2) {
        order: 2;
      }
      &:nth-child(3) {
        order: 4;
      }
      &:nth-child(4) {
        order: 6;
      }
      &:nth-child(5) {
        order: 8;
        border: none;
      }
      &:nth-child(6) {
        order: 1;
      }
      &:nth-child(7) {
        order: 3;
      }
      &:nth-child(8) {
        order: 5;
      }
      &:nth-child(9) {
        order: 7;
      }
      &:nth-child(10) {
        order: 9;
        border: none;
      }
    }
  }
  .container_item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
    span {
      transition: all 0.3s linear;
      color: $order-clr;
      font-size: 2rem;
      font-weight: bold;
    }
    p {
      transition: all 0.3s linear;
      width: 85%;
    }
  }
}