@import './var';

.large_banner {
  max-width: 750px;
  margin: auto;
  &-body {
    display: flex;
    padding: 6px;
    background-color: #fff;
    transition: all 0.3s linear;
    &:hover {
      transform: scale(1.01);
      p {
        color: $main-clr;
      }
    }
  }
  img {
    width: 50%;
    object-fit: cover;
  }
  .large_banner-body-info {
    padding: 10px 10px 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 92);
    transition: all 0.3s linear;
    p {
      transition: all 0.3s linear;
      font-size: 2rem;
      @include respond-to('small') {
        font-size: 1.5rem;
      }
      @include respond-to('x-small') {
        font-size: 1.2rem;
      }
    }
  }
  .news_category {
    background-color: #000;
    padding: 5px 10px;
    font-family: $font-category;
    font-size: 0.9rem;
    color: $gray-bg-1;
    width: fit-content;
  }
}