@import './var';

.news-card_wrapper {
  flex-basis: 32%;
  @include respond-to('small') {
    flex-basis: 49%;
  }
  @include respond-to('x-small') {
    flex-basis: 100%;
  }
  margin-bottom: 10px;
  .news-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    transition: all 0.3s linear;
    border: 6px solid $gray-bg-2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &_info {
      background-color: rgb(255, 255, 255);
      height: 200px;
      padding: 20px;
    }
    &:hover {
      img {
        transform: scale(1.02);
      }
      .title {
        color: $order-clr;
      }
      
    }
  }
  .img {
    height: 150px;
  }
  img {
    transition: all 0.3s linear;
    width: 100%;
    object-fit: cover;
  }
  .category {
    font-family: $font-category;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .title {
    transition: all 0.3s linear;
    font-size: 1.3rem;
  }
}